/* SCSS VARIABLES
===============*/

//COLORS
$blue: #19496F;
$green: #4DAF4D;
$white: #ffffff;
$grey: #999;
$light-grey: #EAEAEA;
$dark-grey: #292929;

// Body
$body-bg: #f5f8fa;

// Typography
$lato: 'Lato', sans-serif;
$open: 'Open Sans', sans-serif;
$w-bold: 700;
$w-regular: 400;
$w-light: 300;

$font-size-base: 1rem;
$line-height-base: 1.5;


