/* BROWSE HERO COMPONENT STYLES
=============================*/

#MessagesHero {
    background:
            linear-gradient(
                            rgba(255,255,255,.75),
                            rgba(255,255,255,.75)
            ),
            url("/img/messaging-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buying-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        h3, h5 {
            color: $dark-grey;
        }
    }
}